@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(45deg, #0c5a4f, #9790f2); */
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.news {
  border: 1px solid;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 8px;
  overflow: hidden;
  width: 700px;
}

.news h6 {
  opacity: 0.6;
  margin-top: 3px;
  letter-spacing: 1px;
  font-size: 12px;
}

.news h4 {
  letter-spacing: 1px;
  margin: 1px 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

.news-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 2px;
  max-width: 250px;
}
.news-preview img {
  width: 200px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}
.news-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.news-info {
  padding: 05px;
  position: relative;
  width: 100%;
}

.btn {
  border: 0;
  color: black;
  font-size: 12px;
  position: absolute;
  bottom: 05px;
  right: 08px;
}
.col-12 {
  display: inline-block;
  width: 98%;
  padding: 1%;
}
input[type="date"],
input[type="text"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
}
.col-2 {
  display: inline-block;
  width: 23%;
  margin: 1%;
  padding: 1%;
}
.col-3 {
  display: inline-block;
  width: 35%;
  margin: 1%;
  padding: 1%;
}
.col-1 {
  display: inline-block;
  width: 10%;
  margin: 1%;
  padding: 1%;
}
.form-control {
  background-color: teal;
  border-radius: 10px;
  width: 700px;
}
.form-control label {
  margin: 0;
  display: block;
  color: white;
}
.search {
  width: 100%;
  height: 30px;
  background-color: gray;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
.isLoading {
  display: flex;
  max-width: 100%;
  margin: 8px;
  overflow: hidden;
  width: 700px;
}
.pagination {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pagination span:hover:not(.active) {
  background-color: #ddd;
}
.page-total {
  background-color: transparent !important;
}
.page-total:hover:not(.active) {
  background-color: transparent !important;
}
